* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url(../images/blue.jpeg);
   background-attachment: fixed;
   font-size: 100%;
   font-family: 'Nunito', sans-serif;

}

nav{
   height:50px;
   line-height: 50px;
   background:#ccc;
}

nav li {
   float:left;
   list-style-type: none;
   width:20%;
   text-align: center;
}

nav a {
   text-decoration: none;
   display:block
   
}

nav a:hover {
   background: darkblue;
   color:white;
}

h1 {
   
   text-align: center;
   color: red;
   font-size: 3em;
   
}
.project img {
   border: solid blue;
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:50%;
}

.center {
   display:block;
   margin:20px auto;
   text-align: center;
}

h2 {
   font-size: 2em;
}

h1,
h2 {
   margin: 20px;
}

div#wrapper {
   width: 940px;
   margin: 20px auto;
   background: rgba(255, 255, 255);
   padding: 20px;
   /*            trouble - t r b l and clockwise  */


}



p {
   margin-bottom: 20px;
   line-height: 1.45;
}

ul {
    margin:0 0 10px 30px;
    list-style-type: none;
    
}
.project {
   height: 175px;
   width: 25%;
}

figcaption {
   text-align: center;
   padding-top: 10px;
}

.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
   footer {
      height:50px;
   line-height: 50px;
   background:#ccc;
   padding-left:20px;
  }
  
  
