
  
* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url(../images/blue.jpeg);
   background-attachment: fixed;
   font-size: 100%;
   font-family: 'Nunito', sans-serif;

}

nav{
   height:50px;
   line-height: 50px;
   background:#ccc;
}

nav li {
   float:left;
   list-style-type: none;
   width:20%;
   text-align: center;
   
}

nav a {
   text-decoration: none;
   display:block;
   transition-property:font-size;
   transition-duration:1s;
   transition-delay: 250ms;
   
}


nav a:hover {
   background: darkblue;
   /* color:white; */
   font-size: 1.5rem;
   font-weight: bold;
   color:white;
   

   
}

h1 {
   
   text-align: center;
   color: red;
   font-size: 3em;
   
}

.project {
   border: solid blue;
   margin: 30px 75px 30px 75px;
   padding-top: 50px;
   padding-bottom: 50px;
   height: 25%;
   width: 20%;
  

}

.project img {
   
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:50%;
   
   
}

.project:nth-child(odd) {
   background-color: rgb(183, 240, 183);
}

.project:nth-child(even) {
   background-color:rgb(245, 203, 187);
}


.center {
   display:block;
   margin:20px auto;
   text-align: center;
}

h2 {
   font-size: 2em;
}

h1,
h2 {
   margin: 20px;
}

div#wrapper {
   width: 75%;
   margin: 20px auto;
   background: rgba(255, 255, 255);
   padding: 20px;
   /*            trouble - t r b l and clockwise  */


}

p {
   margin-bottom: 20px;
   line-height: 1.45;
}

ul {
    margin:0 0 10px 30px;
    list-style-type: none;
    
}

figcaption {
   text-align: center;
   padding-top: 10px;
   
   
}

figcaption a {
   transition-property:font-size;
   transition-duration:1s;
   transition-delay: 250ms;
}

figcaption a:hover {
   font-size: 1.5rem;
   font-weight: bold;
   color:red;
   
   
}

.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
   footer {
      height:50px;
   line-height: 50px;
   background:#ccc;
   padding-left:20px;
  }
  
